@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto-Regular.eot');
    src: local('Roboto'), local('Roboto-Regular'),
    url('../fonts/Roboto-Regular.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Roboto-Regular.woff') format('woff'),
    url('../fonts/Roboto-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
  }
  @font-face {
    font-family: 'Roboto-Light';
    src: url('../fonts/Roboto-Light.eot');
    src: local('Roboto'), local('Roboto-Regular'),
    url('../fonts/Roboto-Light.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Roboto-Light.woff') format('woff'),
    url('../fonts/Roboto-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
  }
  @font-face {
    font-family: 'Enigmo';
    src: url('../fonts/hinted-EnigmoRegular.eot');
    src: local('Enigmo'), local('Enigmor'),
    url('../fonts/hinted-EnigmoRegular.eot?#iefix') format('embedded-opentype'),
    url('../fonts/hinted-EnigmoRegular.woff') format('woff'),
    url('../fonts/hinted-EnigmoRegular.woff2') format('woff2'),
    url('../fonts/hinted-EnigmoRegular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
  }