html {
	box-sizing: border-box;
	font-size: 16px;
}

*,
*::before,
*::after {
	box-sizing: inherit;
}

html,
body {
	height: 100%;
	position: relative;
}

ul,
ol,
li,
p,
h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0;
}

button:focus,
input:focus {
	outline: transparent;
}

h5 {
	font-size: 20px;
}

.flex {
	display: flex;
	align-items: flex-start;
	justify-content: flex-start;
}

.--just-space {
	justify-content: space-between;
}

.--just-end {
	justify-content: flex-end;
}

.--align-str {
	align-items: stretch;
}

.--align-center {
	align-items: center;
}

.--align-end {
	align-items: flex-end;
}

body{
    font-family:'Roboto', sans-serif;
    background-color: $black;
    color: $gray_text;
    font-size: 15px;
    font-weight: normal;
    font-style: normal;
    letter-spacing: 0.2px;
    min-height: 100%;
    position: relative;
    
}
.wrapper{
    max-width: 1440px;
    margin:0 auto;
    position: relative;
    padding-bottom: 12.5rem;
    min-height: 100%;
}
.wrapper-content{
    max-width: 946px;
    margin: 0 auto ;
    padding-bottom: 3.75rem ;
    
}
button:focus{
    border:1px solid #067362;;
    outline: none;
}
a:hover{
    color: $green_text;
}