.header{
    margin-top: 95px;
}
.header__wrapper{
    max-width: 946px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
}
.header__icons {
    display: flex;
    align-items: center;
    position: relative;
}
.header__icons-img{
     padding-right: 3.75rem;
    height: 24px;
    display: block;
    
}


.header__login-img{
    height: 24px;
    padding-right: 0.625rem;

}
.header__icon:last-child{
    padding-right: 0;
}
.logo__text{
    letter-spacing: 2px;
    line-height: 15px;
    padding-left: 1.125rem;
}
