//MEDIA: 1679
@media screen and (max-width: 1679px) {}

//!MEDIA: 1679

//MEDIA: 1439
@media screen and (max-width: 1439px) {}

//!MEDIA: 1439

//MEDIA: 1365
@media screen and (max-width: 1365px) {}

//!MEDIA: 1365

//MEDIA: 1359
@media screen and (max-width: 1359px) {}

//!MEDIA: 1359

//MEDIA: 1199

@media screen and (max-width: 1199px) {
    .setting-block{
        margin-left: 60px;
    }
    .arrow__btn-wrapper-2{
        margin-left: -40px;
    }
    .nodepo__block{
        margin-left: 	1.25rem;

    }
}

//!MEDIA: 1199
@media screen and (max-width: 1100px) {
    .balance{
        margin-left: 50px;
    }
    .form-block{
        margin-left: 50px;
    
    }
}
//MEDIA: 1023
@media screen and (max-width: 1023px) {
    .overlay-user-info__block{
        left: 30px;
    }
    .overlay-user-info__block-btn{
        margin-left: -20px;
    }
    // .arrow__btn-wrapper-1{
    //     margin-left: -50px;
    // }
    .courses__slider{
        .slick-prev{
            left: -30px;
    
        }
        .slick-next{
            right:-30px;
        }
        
    }
    
}

//!MEDIA: 1023

//MEDIA: 991
@media screen and (max-width: 991px) {
    
    .balance__img{
        padding-left: 1.8rem;
    }
    .arrow__btn-wrapper-1{
        margin-left: -95px;
    }
    .arrow__btn-wrapper{
        margin-left: -85px;
    }
    .wrapper{
        padding-left: 	0.9375rem;
        padding-right: 	0.9375rem;
    }
    .footer{
        padding-left: 	0.9375rem;
        padding-right: 	0.9375rem;
    }
    .row-custom{
        flex-direction: column;
    }
    .setting-block__content-form-item{
        margin-right: 1.875rem;
    }
    .footer-wrapper__links-block__links-item-wrapper{
        margin-right: 2.5rem;

    }
    .overlay-user-info__block{
        left: 70px;
    }
    .overlay-user-info__block-btn{
        margin-left: 20px;
    }
    .arrow__btn-wrapper-2{
        margin-left: 0;
    }
    .dashboard__slider__item-block{
        padding-left: 60px;
        padding-right: 60px;
    }
    .overlay-wrapper{
        padding: 1.25rem 2rem 2.875rem 2rem
    }
    .courses__slider{
        .slick-prev{
            left: 0px;
    
        }
        .slick-next{
            right:0px;
        }
        
    }
    
    
}

//!MEDIA: 991
@media screen and (max-width: 830px) {
    .balance__info{
        max-width: 530px;
    }
}
//MEDIA: 767
@media screen and (max-width: 767px) {
    .footer-wrapper__links-block__links-item-wrapper{
        margin-right: 2rem;

    }
    .synergy__lesson__player__wrapper {
        
        width: 540px;
    }
}

//!MEDIA: 767

//MEDIA: 639
@media screen and (max-width: 639px) {
    .overlay__payment-block {
        padding: 2rem;
    }
    .overlay-wrapper{
        padding: 1.25rem 1rem 2.875rem 1rem
    }
}

//!MEDIA: 639

//MEDIA: 369
@media screen and (max-width: 480px) {
    .balance-block__number-mobi{
        font-size: 22px;
    }
    .notifications-block__setting-item__text{
        padding: 0 1rem;
    }
    .overlay__payment-block {
        padding: 2rem 1rem;
    }
    .overlay__payment__btn__currency-wrapper{
        margin-top: 1.25rem;
    }
    .overlay__content__block-text{
        font-size: 14px;
    }
    .overlay__content__block-title,.overlay__content__block_promo{
        font-size: 25px;
    }
    .stucture-blok__date-btn{
        margin: 1.25rem auto 0 auto;
    }
    .stucture-blok__date-wrapper-mobi{
        flex-direction: column;
    }
    .registration-user-block__header-link{
        font-size: 14px;
    }
    .fqa-block__my-appeal_content-item__hidden-block__users {
        padding: .625rem 1rem 1.1875rem .9375rem;

    }
    
}
@media screen and (max-width: 380px) {
    .balance__info-mobi .balance_btn-block-mobi .balance_btn-mobi {
        width: 100px;
    }
    .overlay__content__block-text__span{
        display: block;
        padding-left: 1rem;
    }
    .registration-user-block{
        padding: .6875rem 0 1.5rem;
        width: 100%;
    }
    .registration-user-block__header-link{
        width: 50%;
        display: block;
    }
    .users-block__phase-wrapper-mobi__img{
        padding-left: 0.5rem;
        display: block;
        
    }
    .users-block-mobi{
        padding-left: 0;
    }
    .process__information-block__item__img-mobi{
        padding-left: 0;
    }
    .synergy__lesson__player__wrapper-mobile{
        width: 340px;
    }
    .synergy__lesson__text-title{
        font-size: 30px;
    }
    
}
@media screen and (max-width: 369px) {
    
}

//!MEDIA: 369 