$black: #171717;
$gray: #8C9C9A;
$gray_text: #90A49F;
$gray_mobi: #656F7A;
$green: #067362;
$green_2: #088B77;
$green_text:#30C4AE;
$green_mobi: #087464;
$red: #C43930;
$blue: #4D82C1;
$gold: #727161;
$white: #D6EBE6;
$purple: #6352CC;